#grad {
  background-image: linear-gradient(to bottom, rgba(128, 139, 150), rgba(86, 101, 115 ), rgba(44, 62, 80));
  font-family: 'Philosopher', sans-serif;
  color:rgb(255,255,255);
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

#nav-list{
  float: right;

}

li a {
  display:block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
h1{
  font-size: 350%;
}
.p1{
  font-size: 250%;
}
.ul1{
  font-size: 150%;

}
.p2{
  font-size: 200%;
}
.row {
  display: flex;

}
.column {
flex: 33.33%;
  padding: 5px;
}
/* Clear floats after image containers */
